th{
  padding: 5px 0 5px 0;
  text-transform: uppercase;
}
td{
  padding: 5px 0 5px 10px;
}
table,td,tr,th{
  border: 1px solid;
  text-align: center;
}
.text-left{
  text-align: left;
}
table{
  width: 100%;
  font-family: sans-serif;
}
